/* .yellow_star{
    color: #f0ad4e;
} */

body{
    background-color: #003022;
    font-family: "DM Sans", sans-serif;
}

#logo{
    width: 180px;
}

#headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10%;
    padding: 1% 2%;
    border-bottom: 2px solid #005c3c;
}

nav li{
    list-style-type: none;
    margin: 0px 15px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav a{
    color: white;
    text-decoration: none;
}

#heroSection {
    margin: 5% 10%;
    display: grid; /* Activate grid layout */
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto; /* Rows adjust to content height */
    gap: 20px; /* Space between grid items */
}

#slogan{
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.2;
}

