body{
    background-color: #003022;
}

#logo{
    width: 180px;
}

#headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style-type: none;
    margin: 0px 15px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav a{
    color: white;
    text-decoration: none;
}



